.buttonNew {
    border:none;
    color:blue;
    margin-left:85px;
    margin-top:-20px;
    text-align: center;
    font-size: large;
    outline: none;
    background-color: white;
}

.headtext {
    display: flex;
    justify-content: center;
    margin-top:55px;
}